<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create_account.css">
    <title>Create Account</title>
</head>
<body>
    <div class="all-container">
    <h1 class="title">Create Account</h1>
    <form action="/create_account" method="POST" class="create-account-form">
        <div class="input-set">
        <label for="email" class="subtext">Email</label>
        <input type="email" id="email" name="email" required class="input-box">
        </div>
        <div class="input-set">
        <label for="username" class="subtext">Username</label>
        <input type="text" id="username" name="username" required class="input-box">
       </div>
       <div class="input-set">
        <label for="password" class="subtext">Password</label>
        <input type="password" id="password" name="password" required class="input-box">
         </div>
        <button type="submit" class="create-account-button">Create Account</button>
    </form>
    <a href="/login" class="login">Already have an account?</a>
</div>
</body>
</html>
