<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Create Account</title>
</head>
<body>
    <div class="all-container">
    <h1 class="title">Enter into your account</h1>
    <form action="/login" method="POST" class="login-form">
        <div class="input-set">
        <label for="email" class="subtext">Email</label>
        <input type="email" id="email" name="email" required class="input-box">
        </div>
        <div class="input-set">
        <label for="username" class="subtext">Username</label>
        <input type="text" id="username" name="username" required class="input-box">
       </div>
       <div class="input-set">
        <label for="password" class="subtext">Password</label>
        <input type="password" id="password" name="password" required class="input-box">
         </div>
        <button type="submit" class="login-button">Login</button>
    </form>
    <a href="/create_account" class="create-account">Create account?</a>
</div>
</body>
</html>

