
<html>
<head>
    <title>Profil</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="first-div">
    <h1>Profilul utilizatorului</h1>
    <p>Wellcome <%= nume %>!</p>
    <a href="/to_main_menu"><button>Check out the courses!</button></a>
</div> 
</body>
</html>
