
<html>
<head>
    <title>Profil</title>
</head>
<body>
    <h1>Profilul utilizatorului</h1>
    <p>Wellcome <%= nume %>!</p>
    <a href="/to_main_menu"><button>Check out the courses!</button></a>
</body>
</html>
