<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/start_page.css">
    <title>Start Page</title>
</head>
<body>
    <div class = "all-container">
    <h1 class = "title">Welcome!</h1>
    <div>
        <button onclick="location.href='/login'" class="button">Login</button>
        <button onclick="location.href='/create_account'" class="button">Create Account</button>
    </div>
    </div>
</body>
</html>
